<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luanvan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.recruiter.AssessmentManagementActivity"></activity>
        <activity android:name=".ui.User.CreateAssessmentActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".ui.company.CompanyActivity" />
        <activity android:name=".ui.company.SearchCompanyActivity" />
        <activity android:name=".ui.User.ChangePasswordActivity" />
        <activity android:name=".ui.User.ResetPasswordActivity" />
        <activity android:name=".ui.chat.MessageActivity" />
        <activity android:name=".ui.chat.UserListActivity" />
        <activity android:name=".ui.notification.AdminNotificationActivity" />
        <activity android:name=".ui.DetailedJob.DetailJobAdminActivity" />
        <activity android:name=".ui.admin.JobReviewActivity" />
        <activity android:name=".ui.admin.AdminActivity" />
        <activity android:name=".ui.recruiter.PostNews.RecruitmentNewsActivity" />
        <activity android:name=".ui.recruiter.PostNews.CreateJobActivity" />
        <activity android:name=".ui.schedule.CreateScheduleActivity" />
        <activity android:name=".ui.schedule.ScheduleManagementActivity" />
        <activity android:name=".ui.schedule.ScheduleActivity" />
        <activity android:name=".ui.notification.RecruiterNotificationActivity" />
        <activity android:name=".ui.notification.CandidateNotificationActivity" />
        <activity android:name=".ui.recruiter.CVManagement.CandidateInfoActivity" />
        <activity android:name=".ui.recruiter.CVManagement.CVManageActivity" />
        <activity android:name=".ui.recruiter.AdjustJobActivity" />
        <activity android:name=".ui.recruiter.CVManagement.CVManagementActivity" />
        <activity android:name=".ui.Apply.ChooseCVActivity" />
        <activity android:name=".ui.recruiter.RecruiterActivity" />
        <activity android:name=".ui.recruiter.LoginRecruiterActivity" />
        <activity android:name=".ui.Search_Filter.FilterActivity" />
        <activity android:name=".ui.Search_Filter.SearchActivity" />
        <activity android:name=".ui.cv.CVShowActivity" />
        <activity android:name=".ui.cv.CVIntroductionActivity" />
        <activity android:name=".ui.cv_content.CVGoalActivity" />
        <activity android:name=".ui.cv_content.CVExperienceActivity" />
        <activity android:name=".ui.cv_content.CVSkillActivity" />
        <activity android:name=".ui.cv_content.CVInfoActivity" />
        <activity android:name=".ui.cv_content.CVStudyActivity" />
        <activity android:name=".ui.cv.CVActivity" />
        <activity android:name=".ui.cv.CVCreateActivity" />
        <activity android:name=".ui.User.EditCombineActivity" />
        <activity android:name=".ui.UpdateInfo.SkillActivity" />
        <activity android:name=".ui.UpdateInfo.ExperienceActivity" />
        <activity android:name=".ui.UpdateInfo.StudyActivity" />
        <activity android:name=".ui.User.PersonalInfoActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.KindofJob.KindOfJobActivity" />
        <activity android:name=".ui.DetailedJob.DetailJobActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>